@import url(//db.onlinewebfonts.com/c/899514ebd390e894ad403011515cde6f?family=Helvetica+Neue);

@font-face {font-family: "Helvetica Neue"; src: url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot"); src: url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.woff") format("woff"), url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/899514ebd390e894ad403011515cde6f.svg#Helvetica Neue") format("svg"); }

:root{
    --button-green: #00CA4E;
    --button-yellow: #FF8D44;
    --button-red: #FF605C;
    --button-red-border: #c44846;
    --button-yellow-border: #c76d35;
    --button-green-border: #009439;
}

html, body{
    margin: 0;
    /* background-color: black; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica Neue';
}

body{
    background-image: linear-gradient(to right, #3A1C71, #D76D77, #FFAF7B)
}

#root{
    /* box-sizing: content-box; */
    height: 480px;
    min-height: 430px;
    max-height: 480px;
    width: 280px;
    min-width: 240px;
    max-width: 280px;
    background-color: rgb(20, 20, 20, 0.1);
    backdrop-filter: blur(3px);
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator-container{
    /* min-width: 200px;
    min-height: 400px; */

    overflow: hidden;
    border-radius: 2%;
    position: relative;
    height: calc(100%*(11/12));
    width: calc(100%*(11/12));
}

#game-board{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: calc(100%*(5/7));
    width: 100%;
    position: relative;
}

.zero-button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    grid-column: span 2;
}

button{
    border: 2px solid;
    background: white;
    outline: inherit;
    font: inherit;
    box-shadow: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: lightgrey;
    box-sizing: border-box;
    font-size: 200%;
    border-radius: 0%;
    cursor: pointer;
}

button:active{
    background: lightgray;
}

#calc-screen{
    box-sizing: border-box;
    padding-right: 20px;
    display: flex;
    background-color: rgb(30, 30, 30, 0.9);
    
    color: white;
    height: calc(100% * (2/7));
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 4em;
    font-weight: lighter;
    overflow: hidden;

}

.side-button{
    background-color: orange;
    color: white;
}

.side-button:active{
    background-color: darkorange;
}

#lights-container{
    background: transparent;
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100%*(1/24));
    width: 30%;
}

.light{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.red{
    background: var(--button-red);
    border: 1px solid;
    border-color: var(--button-red-border);
    
}

.red:hover{
    box-shadow: 0 0 5px 3px var(--button-red);
}


.yellow{
    background: var(--button-yellow);
    border: 1px solid;
    border-color: var(--button-yellow-border);
}

.yellow:hover{
    box-shadow: 0 0 5px 3px var(--button-yellow);
}

.green{
    background: var(--button-green);
    border: 1px solid;
    border-color: var(--button-green-border);
}

.green:hover{
    box-shadow: 0 0 5px 3px var(--button-green);
}